In [1]:
import datacube
import pandas as pd
from odc.ui import DcViewer

# Set some configurations for displaying tables nicely
pd.set_option('display.max_colwidth', 200)
pd.set_option('display.max_rows', None)

In [2]:
dc = datacube.Datacube(app="namibia")

In [3]:
products = dc.list_products()

display_columns = ["name",
                   "description",
                   "platform",
                   "instrument",
                   "crs",
                   "resolution"]

products[display_columns].sort_index()

,name,description,platform,instrument,crs,resolution
id,,,,,,
1,s2_namibia,"Sentinel 2 L2A scenes processed, 10, 20 and 60 m UTM based projection.",SENTINEL_2,MSI,NaN,NaN
2,s2_l2a_namibia,"Sentinel 2 ARD L2A scenes, EPSG:32733",SENTINEL_2,MSI,EPSG:32733,"(-10, 10)"

In [4]:
product = "s2_l2a_namibia"

measurements = dc.list_measurements()
measurements.loc[product]

,name,dtype,units,nodata,aliases,flags_definition
measurement,,,,,,
coastal_aerosol,coastal_aerosol,int16,reflectance,0,"[band_1, coastal_aerosol]",NaN
blue,blue,int16,reflectance,0,"[band_2, blue]",NaN
green,green,int16,reflectance,0,"[band_3, green]",NaN
red,red,int16,reflectance,0,"[band_4, red]",NaN
red_edge1,red_edge1,int16,reflectance,0,"[band_5, veg5]",NaN
red_edge2,red_edge2,int16,reflectance,0,"[band_6, veg6]",NaN
red_edge3,red_edge3,int16,reflectance,0,"[band_7, veg7]",NaN
nir,nir,int16,reflectance,0,"[band_8, nir]",NaN
narrow_nir,narrow_nir,int16,reflectance,0,"[band_8a, narrow_nir]",NaN
water_vapour,water_vapour,int16,reflectance,0,"[band_9, water_vapour]",NaN
swir1,swir1,int16,reflectance,0,"[band_11, swir1]",NaN
swir2,swir2,int16,reflectance,0,"[band_12, swir2]",NaN
scl,scl,uint8,1,0,[scl],"{'scl': {'bits': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'values': {'1': 'Saturated or defective pixel', '2': 'Dark features / Shadows', '3': 'Cloud shadows', '4': 'Vegetation', '5': 'Not vegetated',..."

In [12]:
DcViewer(dc=dc,
         time='2021',
         width='800px',
         center=(-22.50, 17.50),
         zoom=7)

VBox(children=(HBox(children=(Dropdown(layout=Layout(flex='0 1 auto', width='10em'), options=('s2_l2a_namibia'…